@use "base_variables";

*, ::before, ::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
}

// certain elements like inputs define their own font, elements like headings define their own weight.
// override this:
body * {
    font-weight: 500;
    font-family: "Rubik";
    color: inherit; // anchors specify a different color
}

body {
    // elements will inherit their color from the body.
    color: base_variables.$black;
    background: base_variables.$white;

    display: grid;
    grid:
        "header header" auto
        "sidebar main" 1fr
        / max-content 1fr; // not sure why max-content auto results in odd behavior if main has no children... weird layout behavior

    // expand sidebar & main to fill the whole screen instead of assuming the longest grid child's block length
    // allows sidebar and main children tracks to stretch to fill
    height: 100vh;
        
    > header {
        grid-area: header;
    }
    > aside {
        grid-area: sidebar;
    }
    > main {
        grid-area: main;
    }
    
    @media screen and (max-width: base_variables.$breakpoint-sm-sm) {
        // not necessary since tracks with an absolute child will have no length/width,
        // ... but this makes it explicitly clear
        grid:
            "header header" auto
            "main main" 1fr
            / max-content 1fr;
    }
}

html {
    // may appear when sidebar shows up on mobile
    scrollbar-color: hsl(from base_variables.$orange h s calc(l - 32)) transparent;
    
    // why does the html scroll instead of the body?
    // i guess the body fits to its contents so there's no overflow.
    // the html is limited by the viewport size maybe?
    // the aside overflows the body, which is 100% of the viewport height for some reason.
}

main {
    height: 100%;
    overflow: hidden;
}

.scrollable-container {
    height: 100%;
    overflow-y: auto;
    scrollbar-color: hsl(from base_variables.$orange h s calc(l - 32)) transparent;
    
    padding: 4rem 3rem;
}

h1 {
    font-size: 2.25rem;
    font-weight: 500;
}

a {
    text-decoration: none;
}

button {
    cursor: pointer;
    border: none;
}

/* icons should each be specific in their dimensions according to the design */
// don't match nested svgs included with <use>
*:not(svg) > svg.icon {
    // why does *-content not work?
    // firefox fallbacks
    width: 1.5rem;
    height: 1.5rem;
    
    // width: attr(data-width px);
    // height: attr(data-height px);
    
    // outline: 1px solid red;
    pointer-events: none; // don't display <title>s on hover
}