@use "base_variables";

*, ::before, ::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
}

// certain elements like inputs define their own font, elements like headings define their own weight.
// override this:
body * {
    font-weight: 500;
    font-family: "Rubik";
    color: inherit; // anchors specify a different color
}

body {
    // elements will inherit their color from the body.
    color: base_variables.$black;
    
    background: base_variables.$white;
    height: 100vh;
    outline: 1px solid red;
    display: grid;
    grid:
        "header header" auto
        "sidebar main" 1fr
        / max-content 1fr; // not sure why max-content auto results in odd behavior if main has no children... weird layout behavior

    > header {
        grid-area: header;
    }
    > aside {
        grid-area: sidebar;
    }
    > main {
        grid-area: main;
    }
}

main {
    height: 100%;
    overflow: hidden;
}

.scrollable-container {
    height: 100%;
    overflow-y: auto;
    scrollbar-color: base_variables.$black transparent;
    
    padding: 4rem 3rem;
}

h1 {
    font-size: 2.25rem;
    font-weight: 500;
}

a {
    text-decoration: none;
}

button {
    cursor: pointer;
    border: none;
}

/* icons should each be specific in their dimensions according to the design */
// don't match nested svgs included with <use>
*:not(svg) > svg.icon {
    // why does *-content not work?
    // firefox fallbacks
    width: 2rem;
    height: 2rem;
    
    width: attr(data-width px);
    height: attr(data-height px);
    
    outline: 1px solid red;
    pointer-events: none; // don't display <title>s on hover
}