$white: hsl(220, 7%, 92%);
$orange: hsl(16, 99%, 46%);
$oranger: hsl(16, 99%, 51%);
$black: hsl(278, 18%, 9%);
$border-radius-med: 16px;

$breakpoint-lg: 78rem;
$breakpoint-md: 66rem;
$breakpoint-sm-l: 59rem;
$breakpoint-sm: 54rem;
$breakpoint-sm-sm: 48rem;
$breakpoint-sm-sm-sm: 32rem;