@use "base_variables";

.sr-only {
    position: absolute;
    left: -100vw;
}

.text-orange {
    color: base_variables.$orange;
}

.pos-relative {
    position: relative;
}

.h-100 {
    height: 100%;
}

.no-lg {
    @media screen and (min-width: base_variables.$breakpoint-md) {
        display: none;
    }
}

.no-sm-sm {
    @media screen and (max-width: base_variables.$breakpoint-sm-sm) {
        display: none;
    }
}