@use "base_variables";

// Screen reader utilities
.sr-only {
    position: absolute;
    left: -100vw;
}

// Text utilities
.text-orange {
    color: base_variables.$color-orange;
}

// to review:
.underline-hover-no-svg {
    > *:not(svg) {
        position: relative;
    }
    
    > *:not(svg)::after {
        z-index: -1;
        position: absolute;
        bottom: .1em;
        border-radius: .5rem;
        left: 0;
        content: "";
        height: 2px;
        background: base_variables.$color-black;
        width: 0;
        transition: .2s width ease-out, .2s height ease-out;
    }
    
    &:hover {
        > *:not(svg)::after {
            width: 100%;
        }
    }
}

.underline-hover {
    position: relative;
    &::after {
        z-index: -1;
        position: absolute;
        bottom: .1em;
        border-radius: .5rem;
        left: 0;
        content: "";
        height: 2px;
        background: base_variables.$color-black;
        width: 0;
        transition: .2s width ease-out, .2s height ease-out;
    }
    &:hover {
        &::after {
            width: 100%;
        }
    }
}

.underline-hover--orange {
    &::after {
        background: base_variables.$color-orange;
    }
}

// Position utilities
.pos-relative {
    position: relative;
}

// Length utilities
.h-100 {
    height: 100%;
}

// Responsive design utilities

// Hide element on large screen widths that are greater than or equal to `$breakpoint-md`
.no-md-gte {
    @media screen and (min-width: base_variables.$breakpoint-md) {
        display: none;
    }
}

// Hide element on small screen widths that are smaller than or equal to `$breakpoint-xsm`
.no-xsm-lte {
    @media screen and (max-width: base_variables.$breakpoint-xsm) {
        display: none;
    }
}