@charset "UTF-8";
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  color: hsl(278, 18%, 9%);
  font-family: "Rubik";
  font-weight: 500;
}

body {
  background: hsl(220, 7%, 92%);
  display: grid;
  grid: "header header" auto "sidebar main" auto/auto auto;
}
body > header {
  grid-area: header;
}
body > aside {
  grid-area: sidebar;
}
body > main {
  grid-area: main;
}

main {
  padding-top: 4rem;
  padding-left: 3rem;
}

h1 {
  font-size: 2.25rem;
  font-weight: 500;
}

a {
  text-decoration: none;
}

button {
  cursor: pointer;
  border: none;
}

.sr-only {
  position: absolute;
  left: -100vw;
}

.text-orange {
  color: hsl(16, 99%, 46%);
}

.pos-relative {
  position: relative;
}

.h-100 {
  height: 100%;
}

.nav-list {
  padding: 1.25rem 4rem;
  position: relative;
  --search-field-width: 28rem;
  display: grid;
  grid: 1fr/max-content calc(var(--search-field-width) + 12.95%) auto;
  align-items: center;
  justify-items: right;
  /* fake borders so we can give them different linear gradients */
}
.nav-list::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  height: 2px;
  width: 100%;
  background: linear-gradient(#E9EAEC 0%, rgba(189, 192, 198, 0.64) 8%, rgba(189, 192, 198, 0.64) 92%, #E9EAEC 100%);
}
.nav-list::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  height: 2px;
  width: 100%;
  background: linear-gradient(90deg, rgba(156, 160, 170, 0.2) 0%, rgba(156, 160, 170, 0.2) 12%, rgba(222, 135, 104, 0.1) 13.82%, rgba(222, 135, 104, 0.1) 22.2%, rgba(156, 160, 170, 0.2) 24%, rgba(156, 160, 170, 0.2) 31%, rgba(222, 135, 104, 0.1) 33.14%, rgba(222, 135, 104, 0.1) 66.12%, rgba(156, 160, 170, 0.2) 68%, rgba(156, 160, 170, 0.2) 71.33%, rgba(222, 135, 104, 0.1) 73.11%, rgba(222, 135, 104, 0.1) 86.84%, rgba(156, 160, 170, 0.2) 89%);
}
.nav-list .nav-item::marker {
  font-size: 0px;
}
.nav-list #search-form .icon-field-wrapper {
  position: relative;
  height: 3rem;
}
.nav-list #search-form .icon-field-wrapper .field-icon {
  position: absolute;
  width: 1.3rem;
  height: 1.25rem;
  left: 0.5rem;
  top: 50%;
  transform: translate(1rem, -50%);
  pointer-events: none;
}
.nav-list #search-form .icon-field-wrapper .field-icon path {
  fill: hsl(16, 99%, 51%);
}
.nav-list #search-form .icon-field-wrapper #search-field {
  height: 100%;
  width: var(--search-field-width);
  border-radius: 1rem;
  color: hsl(16, 99%, 51%);
  border: 1px solid rgba(163, 44, 1, 0.24);
  background: linear-gradient(180deg, rgba(239, 217, 210, 0.72) 0%, rgba(234, 205, 195, 0.72) 100%);
  box-shadow: inset 0px 4px 4px rgba(240, 67, 5, 0.24);
  font-size: 1.25rem;
  padding-left: 3.6875rem;
  transition: 0.4s outline;
  outline: 1px solid transparent;
}
.nav-list #search-form .icon-field-wrapper #search-field::placeholder {
  color: hsl(16, 99%, 51%);
}
.nav-list #search-form .icon-field-wrapper #search-field:focus {
  outline: 1px solid rbg(from hsl(16, 99%, 51%) r g b/99%);
}
.nav-list .account-info {
  margin-left: auto;
  display: grid;
  grid: "username btn--options" auto "credits btn--options" auto/auto auto;
  column-gap: 1rem;
  /* use percentage margins? or use grid on the nav-list instead of flex w/ percentage inline-length columns ✅ */
}
.nav-list .account-info .username {
  grid-area: username;
  align-self: end;
}
.nav-list .account-info .credits {
  grid-area: credits;
}
.nav-list .account-info .btn--options {
  width: 3rem;
  aspect-ratio: 1/1;
  place-self: center;
  grid-area: btn--options;
  background: hsl(278, 18%, 9%);
  border-radius: 16px;
  padding: 0.875rem;
  /* Hide browser default tooltip when an svg element with <title> is hovered over */
  /* Warning: disables event emission for the svg */
  transition: 0.2s background;
}
.nav-list .account-info .btn--options svg {
  pointer-events: none;
  width: 100%;
  height: 100%;
  fill: hsl(220, 7%, 92%);
  /* remove whitespace underneath replaced element */
  vertical-align: bottom;
}
.nav-list .account-info .btn--options svg path {
  fill: hsl(220, 7%, 92%);
}
.nav-list .account-info .btn--options:hover {
  background: rgb(from hsl(278, 18%, 9%) r g b/96%);
}

.sidebar {
  position: relative;
  padding: 4rem;
}
.sidebar::after {
  content: "";
  position: absolute;
  right: 0;
  top: 0;
  height: 100%;
  width: 2px;
  background: linear-gradient(180deg, rgba(156, 160, 170, 0.064) 0%, rgba(156, 160, 170, 0.128) 16%, rgba(156, 160, 170, 0.2) 32%, rgba(222, 135, 104, 0.128) 48%, rgba(222, 135, 104, 0.128) 64%, rgba(156, 160, 170, 0.064) 80%);
}
.sidebar .sidebar-navlist {
  margin-bottom: 4rem;
}
.sidebar .sidebar-navlist .navlist-item {
  /* icons should each be specific in their dimensions according to the design */
}
.sidebar .sidebar-navlist .navlist-item::marker {
  font-size: 0;
}
.sidebar .sidebar-navlist .navlist-item svg {
  width: 2rem;
  height: 2rem;
  outline: 1px solid red;
}
.sidebar .sidebar-navlist .navlist-item .item-link {
  display: flex;
  align-items: center;
  gap: 0.625rem;
}
.sidebar .sidebar-navlist .navlist-item:nth-child(n+2) {
  margin-top: 2rem;
}

/*# sourceMappingURL=base.css.map */
